.div1 {
    height: 700px;
    width: 100%;
    background-image: url(project\ 5bg.jpg);
    background-size: cover;

}

span {
    color: crimson;
}

span :hover {
    color: white;
}

a {
    margin-left: 100px;
    color: #000;


}

a:hover {
    background-color: white;

}

button {
    margin-left: 150px;
    width: 150px;
    text-align: center;

}

button:hover {
    background-color: blue;
    font-size: medium;
}

.div2 {
    height: 700px;
    width: 100%;

}

h1 {
    color: white;
    font-size: 80px;
    text-align: start;
    margin-top: 200px;
    margin-left: 100px;

}

p {
    margin-left: 100px;
    font-size: larger;
}

.button1 {
    margin-top: 50px;
    margin-left: 100px;
    height: 30px;
    width: 150px;
    font-size: medium;
}

.button1:hover {
    background-color: blue;

}

.button2 {
    margin-left: 100px;
    font-size: medium;
    height: 30px;
    width: 200px;
}

.button2:hover {
    background-color: blue;
}

.div2 {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
    
}
.annu0{

}

.annu1 {

    border-color: black;
    margin-left: 40px;
    margin-top: 80px;
    border-width: 1px;
    border-style: solid;
    width: 280px;
    height: 200px;

}

.annu2 {
    border-color: black;
    margin-left: 40px;
    margin-top: 80px;
    border-width: 1px;
    border-style: solid;
    width: 280px;
    height: 200px;
}

.annu3 {
    width: 280px;

    border-width: 1px;
    border-style: solid;
    height: 200px;

    margin-left: 40px;
    margin-top: 80px;

}

.button3 {
    margin-left: 600px;
    font-size: medium;


   
}

.div3 {
    margin-top: 70px;
  
    display: flex;
    justify-content: center;
    color: blue;
}

h3{
   margin-left: auto;
   display: flex;
   justify-content: center;
}